.col-4{
padding-bottom: 100%!important;
}

.nav-pills .nav-link.active
{
    background-color: #26282b !important;

}

.nav-link
{
    color: #ffffff !important;
}

.fa-plus:before {
    content: "\f067";
    color: white;
}

a{
   color:black!important;
}


.aref{
    font-size: large;
    color: white!important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 15px;
}